<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CSS3</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <h1>13 CSS3</h1>

    <div ng-app="myApp">
        <div ng-controller="CatsController">

            <div class="add">   
                Cat name: <input type="text" ng-model="newCat">
                <button ng-click="add()">Add</button>
            </div>

            <ul class="cats">
                <li ng-repeat="cat in cats track by cat.name" class="cat">
                    {{cat.name}}
                </li>
            </ul>

        </div>


<div id="newspaper">


<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, a! Necessitatibus magnam sunt asperiores alias veritatis distinctio nobis placeat. Animi laborum, esse deleniti vitae aliquam quis quod enim placeat. Laboriosam.</div>
<div>Est minima tenetur, aliquid inventore culpa atque impedit qui unde sequi accusantium possimus eum cum ullam! At voluptatem eaque repellat corporis doloremque optio illum sequi odit similique nihil alias, porro!</div>
<div>Ipsam saepe quis porro aliquid reiciendis iste beatae suscipit tempore sed odit eligendi iusto illo voluptatem voluptatibus quisquam, temporibus sapiente expedita aliquam sit accusantium quaerat! Inventore et illum numquam ea.</div>
<div>Aliquam labore in, reprehenderit dolores nesciunt quasi voluptate tempore voluptatibus fugit dolorem? Placeat rerum adipisci vitae possimus quia molestias, modi! Veritatis quibusdam, eius a quo quisquam, error alias debitis sit.</div>
<div>Dolores quod et ad doloremque accusantium, tempore deserunt possimus earum vel, perferendis, obcaecati eaque explicabo nesciunt! Error repellendus nulla laborum est, numquam cupiditate eligendi aperiam nihil qui obcaecati. Repellendus, fuga.</div>
<div>Tempora quaerat accusamus dolorum nobis ipsum, iste, magni, amet eaque ex eos debitis. Eius explicabo quidem quis id blanditiis culpa deserunt quae, debitis ipsam et modi, est alias suscipit, similique.</div>
<div>Veritatis inventore, iusto! Voluptate nesciunt deleniti ab vero voluptatum odit tenetur fuga accusantium, doloremque earum modi aliquam odio eaque consequatur iusto dolores laborum accusamus iure possimus! Tempora culpa tenetur necessitatibus.</div>
<div>Ullam nemo, doloribus? Velit omnis officiis deserunt esse ea ullam, laboriosam qui? Quam unde, excepturi aliquid repudiandae obcaecati id incidunt consectetur quo dolorem accusamus optio consequuntur delectus exercitationem ipsa, minima.</div>
<div>Ipsam impedit dolore eligendi magnam libero voluptatum enim voluptate fuga, nemo id vero odit dignissimos dicta modi quasi, voluptatibus reprehenderit nam officia dolores at. Quod excepturi incidunt nisi ipsam provident.</div>
<div>Enim, ex. Alias facere tempora ipsam, dolorum excepturi soluta, velit incidunt aspernatur totam nam et temporibus fugiat. Eaque fugiat libero dolore commodi deserunt beatae labore natus! Adipisci blanditiis omnis, nulla.</div>

</div>


<a href="#one">One</a>
<a href="#two">Two</a>
<div id="one">This is one</div>
<div id="two">This is two</div>


<div id="square"></div>
    </div>

    <script src="/libs/angular.js"></script>
    <script src="/libs/localforage.js"></script>
    <script src="/app/main.js"></script>
</body>
</html>