body {
  font-family: Arial, Helvetica, sans-serif;
}
body h1 {
  text-align: center;
}
body .add {
  margin: 12px;
  padding: 12px;
  border: 2px solid blue;
  border-radius: 3px;
}
body .add button {
  background-color: lawngreen;
  transition: all 1s ease-in;
}
body .add button:hover {
  background-color: red;
  transform: rotate(720deg);
}
body .add input {
  font-family: fantasy;
}
body .cats {
  margin: 12px;
  padding: 12px;
  border: 5px solid blue;
  border-radius: 3px;
  list-style-type: none;
}
body .cats .cat:nth-child(1) {
  color: red;
}
body .cats .cat:nth-last-child(1) {
  color: red;
}
